 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who is Green Tag?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <p>Green Tag is a team of University of Michigan students 
                        dedicated to making it easy to online shop both ethically
                        and sustainably. We want you to be able to make informed decisions easily, that's 
                        why we do all the research so you don't have to!</p>
                </div>
            </div>
        </div>
    </section>
