<!-- Privacy Section -->
<section class="success" id='privacy-policy'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Privacy Policy</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <p>
                    Green Tag does not collect or share any user data. The request form is only intended for the name and URL of a company that a user enters. 
                    The extension accesses the URL of the website a user is on, but only to display that specific company's green score. 
                    Any information related to a user and the websites they visit are not collected or stored anywhere by Green Tag.
                </p>
            </div>
        </div>
    </div>
</section>